<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.java.Day11_20th_Apr_2024_CLASSES_and_OBJECTS.Topic5_Defining_Objects"/>
      <class name="com.java.Day11_20th_Apr_2024_CLASSES_and_OBJECTS.Topic6_How_to_Create_objects"/>
      <class name="com.automation.Day7_6th_Apr_2024_Basics_Of_TestNG.Topic11_Assertions_in_TestNG"/>
      <class name="com.automation.Day14_28th_Apr_2024_DataProvider.Topic4_TestCases_DifferentClass"/>
      <class name="com.automation.Day15_4th_May_2024_Application_of_inheritance.SearchProductTest"/>
      <class name="com.automation.Day7_6th_Apr_2024_Basics_Of_TestNG.Topic9_Executing_Multiple_Times"/>
      <class name="com.automation.Day9_13th_Apr_2024_Revision_Day_1.Doubt_Assertion_Practice"/>
      <class name="com.java.Day11_20th_Apr_2024_CLASSES_and_OBJECTS.Topic8_Class_Assignment"/>
      <class name="com.java.Day11_20th_Apr_2024_CLASSES_and_OBJECTS.Topic3_What_is_static"/>
      <class name="com.java.Day11_20th_Apr_2024_CLASSES_and_OBJECTS.Topic7_Calling_static_and_NonStatic_Entities"/>
      <class name="com.automation.Day13_27th_Apr_2024_Waits_in_Selenium.Topic1_UnderstandingWaits"/>
      <class name="com.automation.Day15_4th_May_2024_Application_of_inheritance.LoginTest"/>
      <class name="com.automation.Day15_4th_May_2024_Application_of_Abstraction.Topic1_Example"/>
      <class name="com.automation.Day11_20th_Apr_2024_SoftAssert_in_TestNG.SoftAssert_TestNG"/>
      <class name="com.automation.Day16_5th_May_2024_TestNG_include_exclude.LoginTest"/>
      <class name="com.java.Day3_23rd_Mar_2024_Basics_of_Java.Topic1_Concept_Of_Brackets"/>
      <class name="com.automation.Day12_21st_Apr_2024_Date_Time_Stamp.Topic1_Date"/>
      <class name="com.automation.Day11_20th_Apr_2024_SoftAssert_in_TestNG.SoftAssert_Automation"/>
      <class name="com.automation.Day13_27th_Apr_2024_Batch_Running_TestNG.RegisterTest"/>
      <class name="com.automation.Day16_5th_May_2024_TestNG_include_exclude.RegisterTest"/>
      <class name="com.automation.Day7_6th_Apr_2024_Basics_Of_TestNG.Topic4_Application_TriCombo_Automation"/>
      <class name="com.automation.Day16_5th_May_2024_TestNG_include_exclude.SearchProductTest"/>
      <class name="com.automation.Day9_13th_Apr_2024_Revision_Day_1.Doubt3_Assertions_in_Selenium"/>
      <class name="com.automation.Day13_27th_Apr_2024_Paramterization_in_TestNG.Topic2_ClassAssignment_TN_Register"/>
      <class name="com.automation.Day15_4th_May_2024_Application_of_Encapsulation.LoginTest"/>
      <class name="com.automation.Day7_6th_Apr_2024_Basics_Of_TestNG.Topic6_Enable_Disable_TestCases"/>
      <class name="com.automation.Day9_13th_Apr_2024_Revision_Day_1.Doubt1_Xpaths"/>
      <class name="com.java.Da10_14th_Apr_2024_METHODS.Topic4_ReturnTypeInMethods"/>
      <class name="com.automation.Day7_6th_Apr_2024_Basics_Of_TestNG.Topic13_SimpleExampleOfAssert"/>
      <class name="com.java.Day11_20th_Apr_2024_CLASSES_and_OBJECTS.Discussion"/>
      <class name="com.automation.Day12_21st_Apr_2024_Data_Driven_Testing.Topic3_RegisterTN_Properties_File"/>
      <class name="com.automation.Day14_28th_Apr_2024_DataProvider.Topic2_DataProvider_with_LoginExample"/>
      <class name="com.automation.Day10_14th_Apr_2024_cssSelector.Syntax_cssSelectors"/>
      <class name="com.automation.Day8_7th_Apr_2024_Xpaths.Topic2_Advanced_Xpaths"/>
      <class name="com.automation.Day12_21st_Apr_2024_Data_Driven_Testing.Topic2_Properties_file"/>
      <class name="com.automation.Day7_6th_Apr_2024_Basics_Of_TestNG.Topic8_Skipping_Being_Skipped"/>
      <class name="com.automation.Day12_21st_Apr_2024_ChromeOptions.Topic1_ChromeOptions"/>
      <class name="com.automation.Day16_5th_May_2024_TestNG_suiteB_Register.RegisterTest_Part1"/>
      <class name="com.automation.Day11_20th_Apr_2024_Select_Dropdown.Topic1_Facebook_Dropdown"/>
      <class name="com.java.Day11_20th_Apr_2024_CLASSES_and_OBJECTS.logic1"/>
      <class name="com.automation.Day16_5th_May_2024_TestNG_suiteB_Register.RegisterTest_Part3"/>
      <class name="com.automation.Day16_5th_May_2024_TestNG_suiteB_Register.RegisterTest_Part2"/>
      <class name="com.automation.Day13_27th_Apr_2024_Batch_Running_TestNG.LoginTest"/>
      <class name="com.automation.Day16_5th_May_2024_TestNG_suiteA_Login.LoginTest_Part1"/>
      <class name="com.automation.Day16_5th_May_2024_TestNG_suiteA_Login.LoginTest_Part2"/>
      <class name="com.java.Day11_20th_Apr_2024_CLASSES_and_OBJECTS.Topic2_Connection_Between_Classes"/>
      <class name="com.automation.Day9_13th_Apr_2024_Revision_Day_1.Doubt2_Assertions_Using_TestNG"/>
      <class name="com.automation.Day16_5th_May_2024_TestNG_suiteC_SearchProduct.SearchTest_Part2"/>
      <class name="com.automation.Day16_5th_May_2024_TestNG_suiteC_SearchProduct.SearchTest_Part3"/>
      <class name="com.automation.Day7_6th_Apr_2024_Basics_Of_TestNG.Topic10_Example_to_Showcase_Upto_Topic9"/>
      <class name="com.automation.Day8_7th_Apr_2024_Xpaths.Topic1_Introduction"/>
      <class name="com.automation.Day16_5th_May_2024_TestNG_suiteC_SearchProduct.SearchTest_Part1"/>
      <class name="com.automation.Day7_6th_Apr_2024_Basics_Of_TestNG.Topic12_Assert_Class_inDepth"/>
      <class name="com.automation.Day16_5th_May_2024_TestNG_suiteA_Login.LoginTest_Part3"/>
      <class name="com.automation.Day7_6th_Apr_2024_Basics_Of_TestNG.Topic5_Prioritizing_TestCases"/>
      <class name="com.automation.Day12_21st_Apr_2024_Data_Driven_Testing.Topic4_Class_Assignment"/>
      <class name="com.automation.Day9_13th_Apr_2024_Revision_Day_1.Doubt4_Contains_Keyword_in_Xpaths"/>
      <class name="com.automation.Day7_6th_Apr_2024_Basics_Of_TestNG.Topic2_Annotations_TestNG"/>
      <class name="com.automation.Day7_6th_Apr_2024_Basics_Of_TestNG.Topic3_TriCombo"/>
      <class name="com.automation.Day12_21st_Apr_2024_Alerts_PopUps.Topic1_How_to_handle_alerts_PopUps"/>
      <class name="com.automation.Day14_28th_Apr_2024_DataProvider.Topic1_Rules_Of_DataProvider"/>
      <class name="com.java.Day15_4th_May_2024_Abstraction_interface.Automation"/>
      <class name="com.automation.Day7_6th_Apr_2024_Basics_Of_TestNG.Topic7_Dependencies_Between_TestCases"/>
      <class name="com.automation.Day13_27th_Apr_2024_Waits_in_Selenium.Topic2__Class_Assignment"/>
      <class name="com.automation.Day14_28th_Apr_2024_DataProvider.Topic3_DataProvider_with_RegisterExample"/>
      <class name="com.java.Day11_20th_Apr_2024_CLASSES_and_OBJECTS.Topic1_Introduction_to_Classes"/>
      <class name="com.automation.Day13_27th_Apr_2024_Understanding_Alerts_in_Depth.Doubt_Clearing_Asserts_SoftAsserts"/>
      <class name="com.automation.Day14_28th_Apr_2024_DataProvider_ExcelSheet.Topic2_TestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
